.cover {
  height: 500px;
  border: 1px solid fuchsia;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleBox {
  background-color: var(--surface-grey);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
